commands:
  create_post_dir:
   command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
   ignoreErrors: true
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_changes.sh":
        mode: "000777"
        owner: root
        group: root
        content: |
            #!/bin/bash
            mkdir -p /var/log/scm-demand
            mkdir -p /var/log/scm-demand/bck
            chmod -R 777 /var/log/scm-demand