option_settings:
     aws:elasticbeanstalk:application:environment:
        SERVER_PORT: '5000'
        SCM_DEMAND_LOGS: '/var/log/scm-demand'
        SCM_DEMAND_SERVER_PROFILE: 'stage'
        SCM_DEMAND_SERVER_CONTEXT_PATH: '/scm-demand'
        SCM_DEMAND_DB_DRIVER_CLASS: 'org.postgresql.Driver'
        SCM_DEMAND_DB_URL: 'jdbc:postgresql://scm-database.cc40wocbynh7.us-east-1.rds.amazonaws.com/scm-demand'
        SCM_DEMAND_DB_USERNAME: 'scm-demand'